<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated taxonomyModel -->
      <package
            uri="platform:/resource/TaxonomyModel/model"
            class="taxonomy.TaxonomyPackage"
            genModel="model/taxonomyModel.genmodel"/>
   </extension>

</plugin>
