<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated processModel -->
      <package
            uri="platform:/resource/ProcessModel/model"
            class="process.ProcessPackage"
            genModel="model/processModel.genmodel"/>
   </extension>

</plugin>
