<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated projectModel -->
      <package
            uri="platform:/resource/ProjectModel/model"
            class="project.ProjectPackage"
            genModel="model/projectModel.genmodel"/>
   </extension>

</plugin>
